<html>

<head>
    <meta charset="UTF-8">
    <title>Datça Rüzgarı Kullanıcı Girişi</title>
    <link rel="stylesheet" href="../../node_modules/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="./css/icon.css">
    <link href="./../../renderer/css/css/all.css" rel="stylesheet">
    <link href="./../../renderer/css/cssjs/all.js" rel="stylesheet">


</head>

<body>
    <div>
        <div class="modal active" id="modal-id">
            <a href="#close" class="modal-overlay" aria-label="Close"></a>
            <div class="modal-container">
                <div class="modal-header">
                    <a href="#close" id="close" class="btn btn-clear float-right" aria-label="Close"></a>
                    <div class="modal-title h5">Lütfen Giriş Yapın</div>
                </div>
                <div class="modal-body">
                    <div class="content">
                            <div class="input-group m-1">
                                    <span class="input-group-addon">Kullanıcı Adı</span>
                                    <input id="kullanici_adi"  class="form-input" placeholder="Kullanıcı Adı">
                                  </div>
                                  <div class="input-group m-1">
                                        <span class="input-group-addon">Parola</span>
                                        <input id="parola" type="password"  class="form-input">
                                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn " style="width: 100%;" onclick="giris()"> Giriş </button>

                </div>
            </div>
        </div>
        <script src="./login.js"></script>
    </div>

</body>

</html>