<html>

<head>
  <meta charset="UTF-8">
  <title>Datça Rüzgarı Kullanıcı Girişi</title>
  <link rel="stylesheet" href="../../node_modules/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="./../../renderer/css/css/icon.css">
  <link href="./../../renderer/css/css/all.css" rel="stylesheet">
  <link href="./../../renderer/css/cssjs/all.js" rel="stylesheet">


</head>
<body onload="initial()">
<div>
    <div class="modal active" id="modal-id">
        <a href="#close" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" id="close" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5" >
                    <h5 id="title">

                    </h5>
                </div>
            </div>
            <div class="modal-body">
                <div id="content" class="content">
                   <p>Modal Deneme</p>
      </div>
            </div>
            <div class="modal-footer" id="footer">
                <p>...</p>

    </div>
        </div>
    </div>
    <script src="./smallmodal.js"></script>
</div>

</body>
</html>
